@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --white: #fff;
    --dark: #000;
}


[data-theme="dark"]{
    --white: #000;
    --dark: #fff;
}

.dark-model p{
    font-size: 1.125rem;
}

.linkedin, .github{
    margin-right: 1rem;
    font-size: 30px;
    color: var(--dark);
    transition: all 1s ease-in-out;
}
body.menu-open {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

#btn-menu {
    display: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
}


nav ul {
    display: flex;
    gap: 3rem;
    padding: 2rem 1rem;
}

nav a {
    color: #808080;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.6px;
    transition: all 0.3s ease;
    position: relative;
}

nav a:hover {
    color: var(--dark);
}

nav a:hover::after {
    width: 100%;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 1px;
    background-color: var(--dark);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.container h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.9px;
    max-width: 515px;

    background: linear-gradient(180deg, #F00 0%, rgba(237, 0, 0, 0.50) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container p {
    max-width: 500px;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.container button {
    width: 350px;
    height: 50px;
    background-color: #920606;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-bottom: 15px;
}

.container button:hover {
    opacity: 0.8;
}

.container button:active {
    opacity: 0.6;
}

.container {
    margin: 225px 0 0 120px;
}

.container-direito {
    margin-top: 180px;
}

.container-direito img {
    transition: all 2s ease;
}

.container-direito img:hover {
    transform: rotate(360deg);
}

#whatsap {
    border: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30px;
    bottom: 30px;
}

#whatsap i{
    font-size: 36px;
    color: var(--dark);

}
.dois-containers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado-esquerdo-sobremim {
    margin-left: 100px;
}

.lado-esquerdo-sobremim img {
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.lado-direito-sobremim {
    max-width: 715px;
    text-align: center;
    margin-right: 1rem;
}

.lado-direito-sobremim h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.04px;
    background: linear-gradient(180deg, #F00 0%, rgba(255, 4, 4, 0.50) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.lado-direito-sobremim p {
    font-size: 1.25rem;
    font-weight: 300;
}

.sobre-mim {
    margin-top: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 200px;
}

.html,
.css {
    width: 180px;
    height: 180px;
}

.javaScript {
    width: 220px;
}

.habilidades-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5rem;
    margin-top: 80px;
}

.habilidades-ul li {
    text-align: center;
    max-width: 240px;
    transition: all 0.5s ease-in-out;
}

.habilidades {
    margin: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidades h1 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #860000 0%, rgba(255, 0, 0, 0.50) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.habilidades h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 6.4px;
    background: linear-gradient(180deg, #F00 0%, rgba(255, 74, 74, 0.50) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.habilidades-ul:hover> :not(:hover) {
    opacity: .4;
    transform: scale(0.9);
}

.habilidades-ul li:hover {
    transform: scale(1.1);
}

.habilidades-ul li p {
    font-weight: 300;
    font-size: 1.25rem;
}

.habilidades-ul li h3 {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.0625rem;
}


.scrollTop i{
    font-size: 24px;
    color: var(--dark);
}

.scrollTop {
    border: 1px solid ;
    border-color: var(--dark);
    background-color: transparent;
    width: 50px;
    height: 50px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s ease;
}

.scrollTop.active {
    opacity: 1;
    visibility: visible;
}

.scrollTop img {
    width: 100%;
    transform: rotate(90deg);
}


@media screen and (max-width: 1024px) {

    .dark-model p{
        font-size: 0.875rem;
    }

    nav a {
        font-size: 1.25rem;
    }

    #whatsap img {
        width: 50px;
        height: 50px;
    }

    .container {
        margin-top: 125px;
    }

    .container-direito {
        margin-top: 125px;
    }

    .container h1 {
        font-size: 2rem;
    }



    .container p {
        font-size: 1.125rem;
    }

    .container-direito img {
        width: 400px;
        height: 400px;
    }

    .container button {
        width: 300px;
        height: 45px;
        font-size: 1.25rem;
    }

    .lado-direito-sobremim h1 {
        font-size: 2rem;
    }

    .lado-direito-sobremim p {
        font-size: 1.125rem;
        font-weight: 300;
    }

    .lado-esquerdo-sobremim img {
        width: 250px;
        height: 250px;
    }

    .habilidades h1,
    .habilidades h2 {
        font-size: 2rem;
    }

    .habilidades-ul li p {
        font-size: 1.125rem;
    }

    .habilidades-ul li h3 {
        font-weight: 700;
        font-size: 1.25rem;
        letter-spacing: 0.0625rem;
    }

    .html,
    .css {
        width: 150px;
        height: 150px;
    }

    .javaScript {
        width: 200px;
    }

    .habilidades-ul {
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }


}


@media screen and (max-width: 768px) {


    nav.active ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7rem;
        position: absolute;
        text-align: center;
        top: 0;
        background-color: #f95f5f;
        height: 100vh;
        width: 100%;
    }

    nav a {
        font-size: 2rem;
        color: white;
    }

    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }

    #btn-menu {
        display: flex;
        margin-right: 0.5rem;
        border: none;
        padding: 0.25rem 1rem;
        z-index: 1000;
        cursor: pointer;
        background-color: transparent;
    }

    #hamburguer {
        border-top: 2px solid;
        width: 2rem;
        color: var(--dark);
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        display: block;
        height: 2px;
        width: 2rem;
        background: currentColor;
        margin-top: 5px;
        transition: all 0.3s ease-in-out;
        position: relative;
        color: var(--dark);
    }

    nav.active #hamburguer {
        border-top-color: transparent;
    }

    nav.active #hamburguer::before {
        transform: rotate(135deg);
        color: white;

    }

    nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
        color: white;

    }



    .sobre-mim {
        flex-direction: column;
        margin: 0 2rem;
    }

    .lado-esquerdo-sobremim {
        margin: auto;
    }

    .lado-direito-sobremim {
        margin: auto;
    }



    .dois-containers {
        height: 100vh;
        margin-top: -70px;
    }

    .container button {
        font-size: 1.25rem;
    }


    .linkedin-github {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .container-direito {
        display: none;
    }

    nav ul {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 2rem;
    }

    .container h1 {
        max-width: 530px;
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .container p {
        max-width: 510px;
        font-size: 1.125rem;
        margin: 0 auto 30px;
    }

    .container button {
        margin: 0 auto;
    }

    .html,
    .css {
        width: 125px;
        height: 125px;
    }

    .javaScript {
        width: 175px;
    }

    .habilidades-ul li {
        max-width: 170px;
    }

    .projetos-ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 468px) {
    .habilidades-ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .javaScript {
        width: 125px;
        height: 125px;
    }

    nav a {
        font-size: 1.75rem;
        color: white;
        letter-spacing: 0.2rem;
    }


}

@media screen and (max-width: 350px) {
    .container button {
        margin: 0 auto;
        width: auto;
        height: auto;
        padding: 0.35rem 2rem;
    }

    nav a {
        font-size: 1.125rem;
        color: white;
    }
}